# Ignore everything:
*

!Library/
!Library/Application Support/
!Library/Application Support/Plex Media Server/
!Library/Application Support/Plex Media Server/Plug-ins/
!Library/Application Support/Plex Media Server/Plug-ins/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!Library/Application Support/Plex Media Server/Plug-ins/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

!.gitignore